# 1

In [16]:
print('         ,r\'"7')
print('r`-_   ,\'  ,/')
print(' \. ". L_r\'')
print('   `~\/')
print('      |')
print('      |')

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

# 2 다시보기
print(*(e-int(f) for e,f in zip((1,1,2,2,2,8),input().split())))

In [26]:
t = [1,1,2,2,2,8]

a = list(map(int, input().split()))

for i in range(len(t)):
    print(t[i] - a[i], end = ' ')

0 1 2 2 2 7
1 0 0 0 0 1

In [28]:
print(*(e-int(f) for e,f in zip((1,1,2,2,2,8),input().split())))

0 1 2 2 2 7
1 0 0 0 0 1

# 3

In [6]:
N = int(input())

t=1
for i in range(1,N+1):
    print(' ' * (N-i) + ('*' * t))
    t += 2

t -= 2
for i in range(N,((2*N)-1)):
    t -= 2
    print(' ' * (i-(N-1)) + ('*' * t))

7
      *
     ***
    *****
   *******
  *********
 ***********
*************
 ***********
  *********
   *******
    *****
     ***
      *

# 4
N, M = map(int, input().split())  
B = [i for i in range(1, N + 1)]  
for _ in range(M):
    i, j, k = map(int, input().split())  
    B[i-1:j] = B[k-1:j] + B[i-1:k-1]  
print(*B)

In [23]:
N, M= map(int, input().split())

t = []
for i in range(N+1):
    t.append(i)
      
for _ in range(M):
    i,j,k = map(int,input().split())
    
    p= t[i:k]

    a = len(t[k:j+1])
    b = len(t[i:k])

    t[i : i+a] = t[k:j+1]
    t[i+a :i+a+b] = p


print(*t[1:])

10 1
3 9 8
1 2 8 9 3 4 5 6 7 10

# 5

In [28]:
n = input()

a = len(n)
print(1) if n[:a] == n[a-1::-1] else print(0)

baekjoon
0

# 6

In [ ]:
C = int(input())

for i in range(C):
    a, *b = map(int, input().split())

    
    m = sum(b)/ a
    k = 0
    
    for j in b:
        if m < j:
            k += 1
            
    total = (k/a)*100
    print('{:.3f}%'.format(total))

# 7 다시보기
croatia = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']  
word = input()  

for i in croatia :  
    word = word.replace(i, '*')  # input 변수와 동일한 이름의 변수  
print(len(word))

In [21]:
a = input()

t = ['c=','c-','dz=','d','lj','nj','s=','z=','a','b','e','f','g','h','i','k','m','o','p','q','r','t','u','v','w','x','y']
k = 0

for i in t:
    if i in a:
        k += 1
        
print(k)

nljj
1

# 8

In [30]:
N = int(input())
t = 0

for _ in range(N):
    k = input()
    
    if len(k) == 1 or len(k) == 2:
        t += 1
   
    elif:    
        for i in range(len(k)-2):
            if k[i] == k[i+2]:
                break
        
            elif i == (len(k)-2 if len(k) > 1 else 1):
                t += 1
            

print(t)

3
happy
new
year
0

In [28]:
a = '1242'
a[6]

IndexError: string index out of range

# 9