# 1

In [5]:
N = int(input())
number = list(map(int, input().split()))
v = int(input())
total = 0

for i in range(N):
    total += 1 if number[i] == v else 0
print(total)

4
2 2 2 3
2
3

# 2

In [16]:
N,X = map(int, input().split())
A = list(map(int,input().split()))

for i in range(N):
    if A[i] < X:
        print(A[i], end = ' ')

2 5
1 2
1 2

# 3

In [18]:
N = int(input())
number = list(map(int, input().split()))

print(min(number), max(number))

5
20 10 35 30 7
7 35

# 4

In [22]:
total = {}

for i in range(1,10):
    a = int(input())
    total[a] = i

print(max(total))
print(total[max(total)])

3
29
38
12
57
74
40
85
61
85
8

# 5

In [54]:
N,M = map(int, input().split())

total = []
for _ in range(N):
    total.append([0])
    
    
for t in range(M):
    i,j,k = map(int, input().split())
    
    for p in range(i-1,j):
            total[p] = [k]

for i in range(N):
    print(total[i][0], end = ' ')

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

# 6

In [59]:
N,M = map(int, input().split())

total = []
for i in range(N):
    total.append([i+1])
    
    
for t in range(M):
    i,j = map(int, input().split())
    i = i-1
    j = j-1
    
    number = total[i]
    total[i] = total[j]
    total[j] = number

for i in range(N):
    print(total[i][0], end = ' ')

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

# 7

In [67]:
n = {}
for i in range(1,31):
    n[i] = i

for _ in range(28):
    k = int(input())
    n.pop(k,None)

print(min(n.values()))
print(max(n.values()))

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2 8

# 8

In [68]:
n = []
for i in range(10):
    a = int(input())
    n.append(a%42)
total = set(n)
print(len(total))

1
23
3
4
5
6
7
8
9
10
10

# 9

In [99]:
N,M = map(int, input().split())

total = []
for i in range(N):
    total.append([i+1])
    
    
for _ in range(M):
    i,j = map(int, input().split())
    p = []
    for k in range(j-1,i-2, -1):
        p.append(total[k])
    
    o = 0
    for k in range(i-1,j):
        total[k] = p[o]
        o += 1

for i in range(N):
    print(total[i][0], end = ' ')

5 4
1 2
[[2], [1], [3], [4], [5]]
3 4
[[2], [1], [4], [3], [5]]
1 4
[[3], [4], [1], [2], [5]]
2 2
[[3], [4], [1], [2], [5]]

[[3], [4], [1], [2], [5]]

# 10

In [118]:
N = int(input())
test = list(map(int, input().split()))
m = max(test)


for i in range(N):
    if test[i] != m:
        test[i] = float(test[i] / m * 100)

print(test)
print(sum(test))

3
10 20 30
[33.33333333333333, 66.66666666666666, 30]
130.0

In [114]:
205/3

68.33333333333333